
body, html {
    background-image: linear-gradient(to right, rgb(41, 132, 148), rgb(84, 173, 84));
    display: flex;
    justify-content: center;
    color: black;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
}

#problem-generator {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    height: 500px;
}

#input-container {
    background-color: rgba(255, 255, 255, 0.2);
    border: 5px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
    align-items: center;
    max-width: 300px;
}

#output-container {
    background-color: rgba(200, 200, 255, 0.2);
    width: 90%;
    padding: 20px;
    margin: 10px;
    border: 10px solid rgba(200, 200, 200, 0.25);
    border-radius: 10px;
    align-content: start;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    #problem-generator {
        flex-direction: column;
        width: 100%; /* Adjust width to use the full device width */
    }

    #input-container, #output-container {
        width: 90%; /* Make containers slightly narrower for better margins */
        margin: 10px auto; /* Center align the containers */
    }

    main {
        margin: 10px;
    }

}

/* Additional styles... */


.selector-container {
    background-color: transparent;
    padding: 0px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 3px solid rgba(200, 200, 200, 0.25);
}

.selector-button {
    border: 3px solid transparent; /* Set transparent border */
    flex: 1;
    margin: 0px;
    border-radius: 25px;
    cursor: pointer;
    background: none;
    font-size: large;
    padding: 10px; /* Fixed padding */
    outline: none;
    transition: all 0.4s ease-in;
}

.selector-button:hover {
    background-color:  rgba(200, 200, 200, 0.25);
}   

.selector-button:active {
    border: none;
}


.option-box {
    width: 80%;
}

.separator {
    border: 1px solid black;
    margin-top: 5px;
}

.selected {
    background-color: rgba(200, 200, 255, 0.15);
    border: 3px solid rgba(200, 200, 200, 0.25);
}

#submit-button {
    background-color: transparent;
    padding: 1px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 3px solid rgba(200, 200, 200, 0.25);
    background-color: rgba(200, 200, 200, 0.4);;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-top: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#submit-button:hover {
    background-color: rgba(175, 175, 175, 0.4);;
}
#submit-button:active {
    background-color: rgba(165, 165, 165, 0.4);;
}

#text-input-container {
    background-color: transparent;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 3px solid rgba(200, 200, 200, 0.25);
    background-color: rgba(200, 200, 200, 0.4);;
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-bottom: 10px;
    padding: 5px;
}

#text-input-container input {
    background: transparent;
    border: none;
    width: 90%;
    height: 100%;
    font-size: large;
    outline: none;
}


.description {
    font-weight: bold;
    bottom:3px;
}